<div id="fineart-footer">
	<h1 class="site-logo">
		<a href="<%= homeurl %>/">
			<div id="logo">
				<img src="<%= largelogo[0] %>"/>
			</div>
		</a>
	</h1>
	<div class="site-menu">
		<a href="/portfolio/">Portfolio</a> | 
		<a href="/shop/">Shop</a> | 
		<a href="<%= aboutpage %>">About</a> | 
		<a href="/news/">News</a> | 
		<a href="/contact/">Contact</a>
	</div>

	<div class="site-legal">
		<p><a href="<%= copyright_url %>"><%= copyright %></a></p>
		<p><a href="<%= shippingpage %>">Shipping</a> | <a href="<%= privacypage %>">Privacy</a></p>
	</div>

	<div class="clearfix"></div>
</div>


